photo-page {
    .counter {
        text-align: center;
        font-weight: bold;

        .counter-value {
            font-size: 1.5em;
        }

        .counter-title {
            color: gray;
        }
    }
}