<ion-grid>
  <ion-row *ngFor="let row of rows">
    <ion-col *ngFor="let item of row">
      <div id="container">
        <div class="spinner-container" *ngIf="!loaded">
          <ion-spinner></ion-spinner>
        </div>

        <img *ngIf="!thumbnailMember && imageMember" [src]="imageMember(item)" [hidden]="!loaded" (click)="itemClicked(item)" [alt]="titleMember ? titleMember(item) : ''"
                (load)="loaded = true" />

        <image-with-thumbnail *ngIf="thumbnailMember && imageMember" 
                [image]="imageMember(item)" [thumbnail]="thumbnailMember(item) | async"
                (click)="itemClicked(item)" (load)="loaded = true"></image-with-thumbnail>
      </div>
      <div class="title" *ngIf="titleMember">{{ titleMember(item) }}</div>
    </ion-col>
  </ion-row>
</ion-grid>