<ion-header>
  <ion-navbar>

    <ion-buttons end>
      <button *ngIf="!isEmpty" ion-button icon-only (click)="clearNotifications()">
          <ion-icon name="trash"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title>
      {{ 'NOTIFICATIONS' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content>
  <div *ngIf="isEmpty" ngClass="empty-text">EMPTY</div>

  <ion-spinner *ngIf="!isLoaded" ngClass="middle-vertical"></ion-spinner>

  <ion-list *ngIf="isLoaded">
    <ion-item *ngFor="let notification of notifications | async" (click)="onNotificationClicked(notification)">
      <ion-avatar item-left *ngIf="(notification.from | user | async)">
       <img [src]="(notification.from | user | async)?.image">
       <!-- <ion-icon name="globe"></ion-icon>-->
      </ion-avatar>
      <h2 *ngIf="!isSystemMessage(notification)">{{ (notification.from | user | async)?.displayName }}</h2>
      <h2 *ngIf="isSystemMessage(notification)">{{ notification.from }}</h2>
      <p>{{ notificationTypeToResource(notification.type) | translate }}</p>
      <ion-note item-right>{{ notification.createdAt | date: 'MMM d, HH:mm' }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>